.place {
    max-width: 984px;
    display: grid;
    margin: 80px 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 48px 40px;
    grid-template-areas:
    "place__title place__website"
    "place__image place__paragraph-container";
}

.place:first-child{
    margin-top: 0;
}

@media screen and (max-width:1279px) {
    .place {
        max-width: 928px;
        grid-template-columns: repeat(2, 440px);
        gap: 48px 32px;
    }

}

@media screen and (max-width:1023px) {
    .place {
        max-width: 720px;
        grid-template-columns: repeat(2, 340px);
        gap: 48px 28px;
    }

}

@media screen and (max-width: 767px) {
    .place {
        display: flex;
        flex-direction: column;
        margin: 50px 0 0 0;
        gap: 0;
    }

}
