.place__website {
    grid-area: place__website;
    align-self: flex-end;
}

@media screen and (max-width: 767px) {
    .place__website {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin: 0 0 32px 16px;
    }
}